* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
@keyframes login {
    0% {
        opacity: 0;
        transform: scale(0);
        filter: blur(1rem);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}
.contenedorLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    animation: login;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.cajaLogin {
    padding: 2rem;
    border-radius: 2rem;
    background-color: #23233b;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.267);
}

.cajaLogin p {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 300;
    padding: 2rem 12rem;
}

.input-group input {
    color: whitesmoke;
    width: 100%;
    font-size: 1.6rem;
    margin: 1rem 0;
    background-color: #434459;
    border-radius: 0.3rem;
    padding: 0.8rem;
}
.btnAmarillo {
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: #3d6ed7;
}
/*Oculto la verificación de contraseña*/
#reLoginPassword {
    display: none;
}
