@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
.categoria h1 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem;
    margin: 1rem auto;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #181818;
    border-bottom: 2px solid rgba(245, 245, 245, 0.445);
    width: 91%;
    background-color: whitesmoke;
    border-radius: 4rem;
    width: 25%;
}

.productos {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 0 1rem;
    background-color: #dbdbdb;
    border: 5px solid rgba(0, 0, 0, 0.425);
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    width: 90%;
    margin: auto;
}

.item-producto {
    flex: 0 0 20rem;
    padding: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: whitesmoke;
    background-color: #434459;
    border: 7px solid #13131a;
    border-radius: 20px;
}

.item-producto img {
    display: block;
    height: 60%;
    width: 60%;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 20px;
}
.producto_nombre {
    padding: 0 0.05rem;
    font-weight: bold;
}

.producto_precio {
    margin: 1.5rem 0;
    padding: 0 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #23233b;
    background-color: #3db3d7;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px #3db3d73f;
}

.producto_enlace {
    font-weight: bold;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    color: #1a1a1a;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.212);
}
